
name: Build and Push to ACR

on:
  workflow_dispatch:  # Isse tum manually GitHub se trigger kar sakte ho



permissions:
  id-token: write
  contents: read
  
jobs:
  build-and-push:
    runs-on: ubuntu-latest


    env:
      IMAGE_NAME: rs-catalogue
      IMAGE_TAG: latest
      ACR_NAME: acrdevtodoproject010
      ACR_LOGIN_SERVER: acrdevtodoproject010.azurecr.io

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: 7308f003-226f-4c4e-9a12-9307e7b914eb
          tenant-id: c50441a5-451f-4d97-9a16-6ec3e3dee3d0
          subscription-id: 762b3486-079b-43e4-bcec-90f087ae5476

      - name: Log in to ACR
        run: |
          az acr login --name $ACR_NAME

      - name: Build Docker Image
        run: |
          docker build -t $IMAGE_NAME:$IMAGE_TAG -f catalogue/Dockerfile catalogue

      - name: Tag Docker Image for ACR
        run: |
          docker tag $IMAGE_NAME:$IMAGE_TAG $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG

      - name: Push Docker Image to ACR
        run: |
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG
